# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node
node_modules/
npm-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env (jangan pernah commit file ini)
.env
.env.local
.env.production
